<div class="container text-center mt-5">

  <img class="profile-img"src="https://www.hartz.com/wp-content/uploads/2022/04/small-dog-owners-1.jpg" alt="profile-picture" width=150 height=150>
  <h3 class="mt-3"><%= @user.first_name %> <%= @user.last_name %></h3>
  <%= image_tag 'netflix.jpeg', width: 40, height: 40, class: 'provider-img' %> <%= image_tag 'disney.jpeg', class: 'provider-img', width: 40, height: 40 %> <%= image_tag 'hbo.jpeg', class: 'provider-img', width: 40, height: 40 %>
  
  <div class="options text-center mt-5">
  <button class="btn btn-primary"><%= link_to 'My watchlist', watchlist_media_path %></button>
  <button class="btn btn-primary"><%= link_to 'Movies/TvShows', media_path %></button>
  <button class="btn btn-primary">Settings</button>
  <button class="btn btn-primary"><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %></button>
  </div>

</div>
