<div class="nav navbar-expand-sm navbar-light">
  <div class="container-fluid d-flex align-items-center">

    <%= link_to "#", class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "logo.jpeg", class: "logo-img me-2" %>
    <% end %>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Home", media_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My watchlist", watchlist_media_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My profile", show_path, class: "nav-link" %>
          </li>

          <li class="nav-item ms-3">
            <a href="#" class="avatar">
              <%= image_tag "https://www.hartz.com/wp-content/uploads/2022/04/small-dog-owners-1.jpg", class: "avatar-img", alt: "Profile" %>
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
