<div class="container mt-3">
  <!-- Watchlist Title -->

  <!-- Watchlist Content -->
  <div class="media m-3">
    <div class="row">
      <% @watchlist.each do |item| %>
        <div class="col-6 col-md-4" data-genre="<%= item.media.genres %>">
          <!-- Poster Container -->
          <div class="card-poster mb-4">
            <% if item.media.poster.present? %>
              <img src="<%= url_for(item.media.poster) %>" alt="<%= item.media.title %> Poster" class="card-img-top img-fluid rounded">
            <% else %>
              <img src="placeholder.jpg" alt="No Poster Available" class="card-img-top img-fluid rounded">
            <% end %>

            <!-- Card Body -->
            <div class="card-body d-flex mt-3">
              <h5 class="card-title">
                <%= link_to item.media.title, medium_path(item.media.api_id), class: 'text-decoration-none' %>
              </h5>

              <!-- Delete Button -->
              <%= link_to watchlist_medium_path(item),
                          data: { turbo_method: :delete },
                          class: 'icon-button' do %>
                <i class="fa-solid fa-trash" id="index-button"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Empty Watchlist Message -->
    <% if @watchlist.empty? %>
      <p class="text-center mt-4">
        Your watchlist is empty. Go to the <%= link_to 'Movies page', media_path %> to add some!
      </p>
    <% end %>
  </div>
</div>
