<div class="container mt-5">

  <h1 class="text-center display-4 mb-4">My Fabulous Watchlist</h1>

  <div class="row g-4">
    <% @watchlist.each do |item| %>
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm h-100">
          <% if item.media.poster.present? %>
            <img src="<%= url_for(item.media.poster) %>" class="card-img-top img-fluid rounded-top" alt="<%= item.media.title %> Poster">
          <% else %>
            <div class="card-img-top text-center bg-secondary text-white py-5 rounded-top">
              <p>No Poster Available</p>
            </div>
          <% end %>

          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title text-truncate text-center">
              <%= link_to item.media.title, medium_path(item.media.id), class: 'text-dark text-decoration-none' %>
            </h5>
            <%= link_to 'Remove from Watchlist', watchlist_medium_path(item), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm mt-3 text-decoration-none' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if @watchlist.empty? %>
    <p>Your watchlist is empty. Go to the <%= link_to 'Movies page', media_path %> to add some!</p>
  <% end %>

</div>
