<div data-controller="filter">
  <div class="container mt-3" >
    <div class="filter d-flex">
      <select id="filter-dropdown" class="form-select" data-filter-target="filterDropdown" data-action="change->filter#filterContent">
        <option value="all" selected>All</option>
        <option value="movie">Movies</option>
        <option value="tv">TV Shows</option>
      </select>

      <select id="genre-dropdown" class="form-select me-2" data-filter-target="genreDropdown" data-action="change->filter#filterContent">
        <option value="all">All Genres</option>
        <option value="28">Action</option>
        <option value="10759">Action & Adventure</option>
        <option value="12">Adventure</option>
        <option value="16">Animation</option>
        <option value="35">Comedy</option>
        <option value="80">Crime</option>
        <option value="99">Documentary</option>
        <option value="18">Drama</option>
        <option value="10751">Family</option>
        <option value="14">Fantasy</option>
        <option value="36">History</option>
        <option value="27">Horror</option>
        <option value="10762">Kids</option>
        <option value="10402">Music</option>
        <option value="9648">Mystery</option>
        <option value="10763">News</option>
        <option value="10764">Reality</option>
        <option value="10749">Romance</option>
        <option value="878">Science Fiction</option>
        <option value="10765">Sci-Fi & Fantasy</option>
        <option value="10766">Soap</option>
        <option value="10767">Talk</option>
        <option value="10770">TV Movie</option>
        <option value="53">Thriller</option>
        <option value="10752">War</option>
        <option value="10768">War & Politics</option>
        <option value="37">Western</option>
      </select>
      <div class="scroll-box d-flex" data-controller="clickable" data-clickable-url-value="<%= user_providers_path %>" data-providers="<%= @user_providers.pluck(:api_id).to_json %>">
        <% current_user.watch_providers.each do |provider| %>
          <div class="provider-logo">
            <%= cl_image_tag(provider.logo.key, alt: "#{provider.name} Logo", style: "height: 40px; width: auto; object-fit: contain;") %>
          </div>
        <% end %>
      </div>
    </div>
    </div>



    <div class="media mt-2">
    <div data-filter-target="movies" class="movies-container">
      <%= render partial: "movies", locals: { results: @movies } %>
    </div>

    <div data-filter-target="tvshows" class="tvshows-container">
      <%= render partial: "tvshows", locals: { results: @tvshows } %>
    </div>

  </div>
