<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <% if @media.poster %>
                <img src="<%= url_for(@media.poster) %>" alt="<%= @media.title %> Poster" class="img-fluid rounded">
            <% else %>
                <p>No poster available</p>
            <% end %>
        </div>
        <div class="col-md-8">
            <h1><%= @media.title %></h1>
            <% if @media.release_date.present? %>
              <p><strong>Release Date:</strong> <%= @media.release_date %></p>
            <% end %>
            <% if @media.run_time.present? %>
              <p><strong>Runtime:</strong> <%= @media.run_time %> minutes</p>
            <% end %>
            <p><strong>Synopsis:</strong></p>
            <p><%= @media.synopsis %></p>
            <p><strong>Creator:</strong> <%= @media.creator %></p>
            <h5>Genres</h5>
            <ul>
                <% @media.genres.distinct.each do |genre| %>
                    <li><%= genre[:name] %></li>
                <% end %>
            </ul>
            <h5>Cast</h5>
            <ul>
                <% @media.media_actors.each do |member| %>
                    <li><%= member.actor[:name] %> as <%= member[:character] %> <%= link_to 'bio', actor_show_path(member.actor_id) %></li>
                <% end %>

            </ul>
            <h5>Watch Providers</h5>
            <ul>
                <% @media.media_watch_providers.each do |media_watch_provider| %>
                    <li>
                        <%= media_watch_provider.watch_provider.name %>
                        (Flatrate: <%= media_watch_provider.flatrate %>, Buy: <%= media_watch_provider.buy %>, Rent: <%= media_watch_provider.rent %>)
                    </li>
                <% end %>
            </ul>
        </div>

        <div class="row mt-4">
        <% if current_user.watchlist_media.exists?(media_id: @media.id) %>
        <button class="btn btn-secondary" disabled>Already in Watchlist</button>
        <% else %>
        <%= button_to 'Add to watchlist', watchlist_media_path(media_id: @media.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
        </div>
        <div>
        <button class="mt-3"><%= link_to 'View my watchlist', watchlist_media_path%>
        </div>
    </div>
    <div class="row mt-4">
        <h5>Backdrops</h5>
        <div class="d-flex flex-wrap">
            <% @media.backdrops.each do |backdrop| %>
                <div class="p-2">
                    <img src="<%= url_for(backdrop) %>" alt="Backdrop" class="img-fluid rounded">
                </div>
            <% end %>
        </div>
    </div>
</div>
