<%# VIOLETAS ADJUSTMENT %>
<div class="container mt-5">
  <div class="col-md-6">
    <% if @media.poster %>
      <img src="<%= url_for(@media.poster) %>" alt="<%= @media.title %> Poster" class="img-fluid rounded">
    <% else %>
      <p>No poster available</p>
    <% end %>
    <h1><%= @media.title %></h1>
  </div>

  <!-- Navigation Tabs -->
  <ul class="nav nav-tabs" id="media-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="synopsis-tab" data-bs-toggle="tab" data-bs-target="#synopsis" type="button" role="tab" aria-controls="synopsis" aria-selected="true">
        Synopsis
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="cast-tab" data-bs-toggle="tab" data-bs-target="#cast" type="button" role="tab" aria-controls="cast" aria-selected="false">
        Cast
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="more-tab" data-bs-toggle="tab" data-bs-target="#more" type="button" role="tab" aria-controls="more" aria-selected="false">
        More
      </button>
    </li>
  </ul>

  <!-- Tab Content -->
  <div class="tab-content mt-3" id="media-tabs-content">
    <!-- Synopsis Tab -->
    <div class="tab-pane fade show active" id="synopsis" role="tabpanel" aria-labelledby="synopsis-tab">
      <% if @media.genres.present? %>
        <% @media.genres.each do |genre| %>
          <span style="display: inline-block">
            <p><em><%= genre[:name] %></em></p>
          </span>
        <% end %>
      <% end %>
      <% if @media.synopsis.present? %>
        <p><%= @media.synopsis %></p>
      <% end %>
      <% if @media.run_time.present? %>
        <p><strong>Runtime:</strong> <%= @media.run_time %>min</p>
      <% end %>
      <% if @media.release_date.present? %>
        <p> Release Date: <%= @media.release_date.day.ordinalize %> <%= @media.release_date.strftime("%B %Y") %></p>
      <% end %>
      <% if @media.creator.present? %>
        <p>Creator: <%= @media.creator %></p>
      <% end %>
    </div>

    <!-- Cast Tab -->
    <div class="tab-pane fade" id="cast" role="tabpanel" aria-labelledby="cast-tab">
      <div class="cast-container">
        <div class="cast-row">
          <% @media.actors.each do |actor| %>
            <div class="col-6">
              <% if actor.photos.attached? %>
                <%= cl_image_tag actor.photos.first.key, alt: "#{actor.name} Poster", class: "img-fluid rounded", style: "height: 100px; width: 50px" %>
              <% else %>
                <p>No image available</p>
              <% end %>
              <%= actor.name %>
              <%= link_to 'bio', actor_show_path(actor.id) %>
           </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- More Tab -->
    <% if @media.seasons.present? %>
      <p>Seasons: <%= @media.seasons.length %></p>
    <% end %>
    <div class="tab-pane fade" id="more" role="tabpanel" aria-labelledby="more-tab">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="height: 80%; width: 100%">
        <div class="carousel-inner">
          <% @media.backdrops.each_with_index do |backdrop, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <%= cl_image_tag backdrop.key, class: "img-fluid rounded", alt: "Backdrop" %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
