<div class="container mt-1">
    <%= link_to media_path do %>
    <i class="fa-solid fa-arrow-left mb-3" id="back"></i>
  <% end %>
  <div class="col-md-6">
    <% if @media.poster %>
      <img src="<%= url_for(@media.poster) %>" id="poster" alt="<%= @media.title %> Poster" class="img-fluid">
    <% else %>
      <p>No poster available</p>
    <% end %>
  </div>

  <!-- Navigation Tabs -->
  <ul class="nav nav-tabs" id="media-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="synopsis-tab" data-bs-toggle="tab" data-bs-target="#synopsis" type="button" role="tab" aria-controls="synopsis" aria-selected="true">
        Synopsis
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="cast-tab" data-bs-toggle="tab" data-bs-target="#cast" type="button" role="tab" aria-controls="cast" aria-selected="false">
        Cast
      </button>
    </li>
    <% if @media.seasons.present? %>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="seasons-tab" data-bs-toggle="tab" data-bs-target="#seasons" type="button" role="tab" aria-controls="seasons" aria-selected="false">
          Seasons
        </button>
      </li>
    <% end %>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false">
        Reviews
      </button>
    </li>
  </ul>

  <!-- Tab Content -->
  <div class="tab-content" id="media-tabs-content">
    <!-- Synopsis Tab -->
    <div class="tab-pane fade show active" id="synopsis" role="tabpanel" aria-labelledby="synopsis-tab">
      <h1><%= @media.title %></h1>
      <div class="genres-container">
        <% if @media.genres.present? %>
          <% @media.genres.each do |genre| %>
            <div class="genre-field">
              <p><em><%= genre[:name] %></em></p>
            </div>
          <% end %>
        <% end %>
      </div>
      <% if @media.synopsis.present? %>
        <p class="mb-0"><%= @media.synopsis %></p>
      <% end %>
      <% if @media.run_time.present? %>
        <p><em><%= @media.run_time %>min</em></p>
      <% end %>
      <% if @media.release_date.present? %>
        <p class="mb-0"> Release Date: <%= @media.release_date.day.ordinalize %> <%= @media.release_date.strftime("%B %Y") %></p>
      <% end %>
      <% if @media.creator.present? %>
        <p>Creator: <%= @media.creator %></p>
      <% end %>

       <div class="row mt-4">
        <% if current_user.watchlist_media.exists?(media_id: @media.id) %>
          <div class="buttons-container">
          <i class="fa-solid fa-check"></i>
          <%= link_to new_medium_review_path(@media), method: :post do %>
            <i class="fa-solid fa-ranking-star"></i>
          <% end %>
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
          </div>
        <% else %>
          <div class="buttons-container" data-controller="button" data-url="<%= watchlist_media_path %>", data-media-id="<%= @media.id %>">
            <%= button_tag type: "button",
                    data: { action: "click->button#toggle" },
                    class: "icon-button" do %>
                <i data-button-target="button" class="fa-regular fa-plus"></i>
            <% end %>
            <%= link_to new_medium_review_path(@media), method: :post do %>
              <i class="fa-solid fa-ranking-star"></i>
            <% end %>
              <i class="fa-solid fa-arrow-up-from-bracket"></i>
          </div>
        <% end %>
        </div>
    </div>

    <!-- Cast Tab -->
    <div class="tab-pane fade" id="cast" role="tabpanel" aria-labelledby="cast-tab">
      <div class="container" id="actor-container">
        <div class="row row-cols-2 g-2">
          <% @media.actors.each do |actor| %>
            <div class="col">
              <div class="actor-card">
                <% if actor.photos.attached? %>
                  <%= cl_image_tag actor.photos.first.key, alt: "#{actor.name} Poster", class: "img-fluid" %>
                <% else %>
                  <p>No image available</p>
                <% end %>
                <div class="actor-info">
                  <div>
                    <p><strong><%= actor.name %></strong></p>
                    <p class="character"><%= actor.media_actors.find_by(media_id: @media.id).character %></p>
                  </div>
                  <div>
                    <%= link_to actor_show_path(actor, media_id: @media.id) do %>
                      <i class="fa-solid fa-circle-info" id="info"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Seasons Tab -->
    <div class="tab-pane fade" id="seasons" role="tabpanel" aria-labelledby="seasons-tab">
      <div class="container" id="season-container">
        <div class="row row-cols-2 g-2">
          <% if @media.seasons.present? %>
            <% @media.seasons.sort_by(&:number).each do |season| %>
              <div class="col">
                <div class="season-card">
                  <% if season.poster.attached? %>
                    <%= image_tag url_for(season.poster), class: "img-fluid" %>
                  <% end %>
                  <div class="season-info">
                    <div>
                      <p class="season-name mb-0"><strong><%= season.name.present? ? season.name : "Season #{season.number}" %></strong></p>
                      <p><%= season.episodes.count %> episodes</p>
                    </div>
                    <div>
                      <%= link_to season_path(season.id) do %>
                        <i class="fa-solid fa-circle-info" id="info"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Reviews Tab -->
    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
      <div class="reviews-container">
        <h2>Reviews</h2>
        <div class="add-review">
        <%= link_to 'Add a review', new_medium_review_path(@media), class: 'btn btn-primary review' %>
        </div>
        <div class="row row-cols-2">
          <% if @reviews.present? && @reviews.any? %>
            <% @reviews.each do |review| %>
              <div class="col" id="review-content">
                <p><em><%= review.content %></em></p>
                <p><%= review.rating %>⭐️</p>
              </div>
            <% end %>
          <% else %>
            <p>No reviews submitted yet.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="height: 80%; width: 100%">
    <div class="carousel-inner">
      <% @media.backdrops.each_with_index do |backdrop, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <%= cl_image_tag backdrop.key, class: "img-fluid rounded", alt: "Backdrop" %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
