<!DOCTYPE html>
<html>
  <head>
    <title>StreamCaddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="path/to/select2.min.css" rel="stylesheet" />
    <script src="path/to/select2.min.js"></script>

  </head>

  <body>
  
  <% if controller.controller_name == 'user_providers' && controller.action_name == 'index' %>
  <%= render "shared/main_navbar" %>
  <% else %>
  <%= render "shared/navbar" %>
  <% end %>
  <%= render "shared/flashes" %>

    <%= yield %>

    <%= render "shared/footer" %>
  </body>
</html>
